<div class="container">
	<div class="container">
		<mat-accordion>
			<mat-expansion-panel hideToggle>
				<mat-expansion-panel-header>
					<mat-panel-title> Certifications </mat-panel-title>
				</mat-expansion-panel-header>
				<mat-accordion>
					<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
						<mat-expansion-panel-header>
							<mat-panel-title> ASP.NET/Core |
								<mat-icon>filter_2</mat-icon>
							</mat-panel-title>
						</mat-expansion-panel-header> Learning ASP.NET | <a href="https://www.linkedin.com/learning/certificates/56ed8b740465ff8ef3551812e41b0b5ccf04f1d70fd0e2df349ade3db6f1873e" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Building Web APIs with ASP.NET Core | <a href="https://www.linkedin.com/learning/certificates/ae94a3c2c1c700b9e6393db970d4da44d019df8a5a6acab9918553d68c6702d6" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> </mat-expansion-panel>
					<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
						<mat-expansion-panel-header>
							<mat-panel-title> Angular |
								<mat-icon>filter_2</mat-icon>
							</mat-panel-title>
						</mat-expansion-panel-header> Angular Essential Training | <a href="https://www.linkedin.com/learning/certificates/c6af44d02168e703b20de618a4d95e56e79655fb2c5a4166a8c0f05909f5776d" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Learning Angular | <a href="https://www.linkedin.com/learning/certificates/47c705b2203eb3b29c8d030dbf62a5283396f2d3d7be4e6f84aebcbc4d92f229" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> </mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title> C# - C-sharp |
								<mat-icon>filter_6</mat-icon>
							</mat-panel-title>
						</mat-expansion-panel-header> Advanced C#: Functional Programming Patterns | <a href="https://www.linkedin.com/learning/certificates/28dce0ec6de15a6cfef94215b159f63e8c3c72f850d30533401a6dcd8c927159" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Object Oriented Programming with C# | <a href="https://www.linkedin.com/learning/certificates/3bf07bba10e00614550aa4ec55b765761cece11270fcb01ca3a74b575b11daf6" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> C# & .NET: Programming | <a href="https://www.linkedin.com/learning/certificates/02bc2739d4aa1eb67bbae11f81be13430b94b2d2608e9f6adfc1869ead4c4bdd" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Async Programming in C# | <a href="https://www.linkedin.com/learning/certificates/2d96daec8913b2a6cd82fa08bd4ce19fa90d4739eb19c419e531edfaf76eb248" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> LINQ with C# Essential Training | <a href="https://www.linkedin.com/learning/certificates/36275ef06464dadd73e2fb86cfd05c0a40b0f158b5e9549d23f2bf8006552758" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Transitioning from C# to Python | <a href="https://www.linkedin.com/learning/certificates/726be85c53fd4ba7b15e20bce7c9fc223bb6696c3087928d4f12d48f5f874d53" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> </mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title> Flutter |
								<mat-icon>filter_7</mat-icon>
							</mat-panel-title>
						</mat-expansion-panel-header> Flutter: Part 01 Introduction | <a href="https://www.linkedin.com/learning/certificates/01e897b07954b439743ecec3c3451db1b4a1ccc88dcebb2987567ef51bbd9677" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Flutter: Part 02 Building Apps | <a href="https://www.linkedin.com/learning/certificates/554306eb7808f21a09fa1054e30ae7cb4023ba1d581da08731c65f5bbefa09bd" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Flutter: Part 03 Flutter Widgets | <a href="https://www.linkedin.com/learning/certificates/8f9bd6a11d9952ea07472fe88ae8431bce4db59a74d7eeca788b67a16372b298" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Flutter: Part 04 Building an App with State | <a href="https://www.linkedin.com/learning/certificates/e3851420f179bddcb3362300122c56dc8a823cd7f3237dd2f3b15aa3c6124f00" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Flutter: Part 05 Flutter and Dart Packages | <a href="https://www.linkedin.com/learning/certificates/34e9abe4884e7caaca1770d952efa2c8025567e8692a9555c3ff04d8a6f70d2d" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Flutter: Part 06 Modularizing and Organizing Flutter Code | <a href="https://www.linkedin.com/learning/certificates/5660cdd4e079a4f8248eb40942c5bd6ffbf6f5a080ac7ebbaaceac6856242a12" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Learning Google Flutter for Mobile Developers | <a href="https://www.linkedin.com/learning/certificates/2033ab9c66deed18a9d85ae8fd143d5bdd0328c6330fa0777bdde563595860b2" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> </mat-expansion-panel>
					<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
						<mat-expansion-panel-header>
							<mat-panel-title> Android |
								<mat-icon>filter_1</mat-icon>|
								<mat-icon>filter_1</mat-icon>
							</mat-panel-title>
						</mat-expansion-panel-header> Android App Development: Data Persistence Libraries | <a href="https://www.linkedin.com/learning/certificates/d7f87e7dab6beb5c3d29f63a5d46988e32328cf397fe7201b7f9b5456d531e5c" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android Studio Essential Training 2020 | <a href="https://www.linkedin.com/learning/certificates/58b26daebfc67609f2fcea617cde85c004bc991f118630a5a4405567cdfcc0ad" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android Development Essential Training: Your First App with Kotlin | <a href="https://www.linkedin.com/learning/certificates/25101178c17fc81eb457a3f38f037b2c857264d77a9f7a2182ef5918015d3267" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android Development Essential Training: The User Interface with Kotlin | <a href="https://www.linkedin.com/learning/certificates/2398fbc28b7ac3df49615ce5f4c6b67e08907322e3aea005956c9266b0ce2552" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android Development Essential Training: App Architecture with Kotlin | <a href="https://www.linkedin.com/learning/certificates/4d6f3138338f34d90f3a94d3b6bb2834a74ad06bd18a38828c8a2b653db81810" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android Development Essential Training: Manage Data with Kotlin | <a href="https://www.linkedin.com/learning/certificates/11842d4742566dd081f6d8eb5ce2d0022448dc9b5c2bcb01567e233461fd1d50" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android App Development: Communicating with the User | <a href="https://www.linkedin.com/learning/certificates/7ebb118ff5003719a6ca40e988df163c6fa46c2aec9920fef7ce225b165864fe" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android App Development: Localization and Internationalization | <a href="https://www.linkedin.com/learning/certificates/ec9a8a4ff1b1f346d02f413371b94e70d1ba7e843d704a10f6d1f44ba51747db" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Java Design Patterns and APIs for Android | <a href="https://www.linkedin.com/learning/certificates/ebeea22673920988fc321d15c0570cadb9c222292aa97a76f75d0603475d8ec3" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Android App Development: Design Patterns for Mobile Architecture | <a href="https://www.linkedin.com/learning/certificates/61d53372e1b670033a678e41ebc879265f410bded23d2e486570f74aba53b2c5" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> Concurrent Programming with Android: Threads, Workers, and Kotlin Coroutines | <a href="https://www.linkedin.com/learning/certificates/c7897cb32d99ca799ef2808614c9a40f335e072c44b8e20a873b9400a5a12b14" target="_blank">Show credential <mat-icon>open_in_new</mat-icon></a>
						<mat-divider></mat-divider>
						<br /> </mat-expansion-panel>
				</mat-accordion>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
	<div class="container">
		<mat-card class="example-card">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>National Senior Certificate</mat-card-title>
				<mat-card-subtitle>Kgola-Thuto Senior secondary School</mat-card-subtitle>
			</mat-card-header>
			<div class="logo"> <img mat-card-image src="https://scontent.fjnb6-1.fna.fbcdn.net/v/t1.6435-9/147694620_863292277857791_4791362942057683346_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFs3ERtxnsgS6fVrhvvtGibJQXXNan1F-MlBdc1qfUX4wBLL2WUaSdrUR3UGpsABNaPYmKs9zhHrwGlcz55o8_9&_nc_ohc=9gXpi3iJh1cAX8yZw71&_nc_ht=scontent.fjnb6-1.fna&oh=00_AT_VjHhXM35RSbk3DH9jUHBGOsqDgmvYy2srZGabfUUP7w&oe=6276C86D" alt="Kgola-Thuto Senior secondary School"> </div>
			<div class="container">
				<mat-card-content> </mat-card-content>
			</div>
		</mat-card>
	</div>
	<div class="container">
		<mat-card class="example-card">
			<mat-card-header>
				<div mat-card-avatar class="example-header-image"></div>
				<mat-card-title>Bachelor of Science - BS, Information Technology</mat-card-title>
				<mat-card-subtitle>University of the Free State</mat-card-subtitle>
			</mat-card-header>
			<div class="logo"> <img mat-card-image src="https://www.ufs.ac.za/images/librariesprovider5/ufs_redesign_2021/ufsheaderlogo.svg?sfvrsn=15b37820_2" alt="University of the Free State"> </div>
			<div class="container">
				<mat-card-content> </mat-card-content>
			</div>
		</mat-card>
	</div>
</div>