.container{ width: 1200px; margin-left: auto; margin-right: auto; }
.example-spacer { flex: 1 1 auto; }
a:link { color: rgb(2, 58, 91); }
a:visited { color: rgb(2, 58, 91); } 
a:hover { color: rgba(6, 84, 105, 0.134); }
a:active { color: blue; }
a { text-decoration: none; }
